@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-left">
        <li>@Html.ActionLink("Home", "Home", "Home")</li>
        <li id="order" style="display: none">@Html.ActionLink("Create Order", "CreateOrder", "CreateOrder")</li>
        <li id="request" style="display: none">@Html.ActionLink("Edit Request", "EditRequest", "Request")</li>
    </ul>

    using (Html.BeginForm("Logoff", "Login", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.Name + "!", "Index", "Home", routeValues: null,
               htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Login", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

<script type="text/javascript">
    $.ajax(
    {
        url: '/Home/GetCurrentUserRole',
        type: 'POST',
        success: function (data) {
            if (data.CurrentUserRole === "Clerk") {
                $("#request").show();
                $("#order").hide();
            } else if (data.CurrentUserRole === "Salesman") {
                $("#request").hide();
                $("#order").show();
            } else {
                $("#order").hide();
                $("#request").hide();
            }
        },
        error: function () {
            alert("error");
        }
    });
</script>